    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                   
                    <!-- Footer Nav Area -->
                    <div class="classy-nav-container breakpoint-off">
                        <!-- Classy Menu -->
                        <nav class="classy-navbar justify-content-center">

                            <!-- Navbar Toggler -->
                            <div class="classy-navbar-toggler">
                                <span class="navbarToggler"><span></span><span></span><span></span></span>
                            </div>

                            <!-- Menu -->
                            <div class="classy-menu">

                                <!-- close btn -->
                                <div class="classycloseIcon">
                                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                                </div>

                                <!-- Nav Start -->
                                <div class="classynav">
                                    <ul>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </div>
                                <!-- Nav End -->
                            </div>
                        </nav>
                    </div>
                    
                    <!-- Footer Social Area -->
                    <div class="footer-social-area mt-30">
                        <div id="useronline"></div><div id="countview"></div>
                        <script src="/socket.io/socket.io.js"></script>
                        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
                        <script>
                            $(function () {
                                var socket = io();

                                $('form').submit(function(){
                                  socket.emit('chat message', $('#m').val());
                                  $('#m').val('');
                                  return false;
                                });

                                socket.on('count view', function(data){
                                  let useronlinediv = document.getElementById("countview")
                                  useronlinediv.innerHTML  = "<b>All View: </b>" + data.countview
                                });

                                socket.on('a user connected', function(useronline){
                                  let useronlinediv = document.getElementById("useronline")
                                  useronlinediv.innerHTML  = "<b>User Online: </b>" + useronline
                                });

                                socket.on('a user disconnected', function(useronline){
                                  let useronlinediv = document.getElementById("useronline")
                                  useronlinediv.innerHTML  = "<b>User Online: </b>" + useronline
                                });
                            });
                    </script>
                    </div>
                </div>
            </div>
        </div>

   <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> not by NguyenDuy
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

    </footer>
    <!-- ##### Footer Area End ##### -->