<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Duy Login</title>

        <!-- CSS -->
        <link rel="icon" type="image/png" sizes="36x36" href="/img/core-img/favicon36.png">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/form-elements.css">
        <link rel="stylesheet" href="/style.css">

    </head>

    <body>
        <% include ./header %>

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <div class="description">
                            	
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Login</h3>
                            		<p>Enter your username and password to log on:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-key"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">

                                <div id="errorcode" class="alert alert-danger"></div>
                                    <div id="form">
    			                    	<div class="form-group">
    			                    		<label class="sr-only" for="form-username">Email</label>
    			                        	<input type="text" name="email" required  placeholder="Email..." class="form-username form-control" id="email">
    			                        </div>
    			                        <div class="form-group">
    			                        	<label class="sr-only" for="form-password">Password</label>
    			                        	<input type="password" required name="password" placeholder="Password..." class="form-password form-control" id="password">
    			                        </div>
    			                        <button type="submit" class="btn btn-success" onclick="SignIn()">Sign in!</button>
                                    </div>
		                    </div>
                        </div>
                    </div>
                    <div class="row" id="buttonsignup">
                        <div class="col-sm-6 col-sm-offset-3 social-login">
                        	<h3>...or sign up:<button type="submit" class="btn btn-primary" onclick="forSignup()">Sign up!</button></h3>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <% include ./footer %>
            <!-- jQuery (Necessary for All JavaScript Plugins) -->
        <script src="/js/jquery/jquery-2.2.4.min.js"></script>
        <!-- Popper js -->
        <script src="/js/popper.min.js"></script>
        <!-- Bootstrap js -->
        <script src="/js/bootstrap.min.js"></script>
        <!-- Plugins js -->
        <script src="/js/plugins.js"></script>
        <!-- Active js -->
        <script src="/js/active.js"></script>
        <script src="/js/script.js"></script>

    </body>

</html>